/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
}

#root {
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.notTooBig {
  min-height: inherit !important;
}

.MuiDropzoneArea-icon {
  display: none !important;
}

.MuiDropzoneArea-invalid {
  background-image: inherit !important;
  border-color: #aa0 !important;
}

.MuiBackdrop-root {
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
  bottom: inherit !important;
  display: flex;
  width: 46% !important;
  height: 100% !important;
  z-index: 1000 !important;
  position: absolute !important;
  align-items: flex-start !important;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.2) !important;
  -webkit-tap-highlight-color: transparent;
}
